<!DOCTYPE html>
<html lang="en">
<meta http-equiv="refresh" content="10">
<script src="{{ url_for('static', filename='chart.min.js') }}"></script>
<style>
canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80% !important;
}
</style>
<script>
    var request = new XMLHttpRequest();
    request.onreadystatechange = drawChart;
    request.open("GET", "/data/SENSOR_TEMP,SENSOR_HUMID/{{ minutes }}");
    request.send();

    function drawChart()
    {
        if (request.readyState === XMLHttpRequest.DONE) {
            if (request.status === 200) {
                var requested_json = JSON.parse(request.responseText);
                var canvas = document.getElementById('chart');

                var values_temp = [];
                var values_humid = [];
                var label = [];

                requested_json.forEach(element => {
                    if(element[1] == "SENSOR_HUMID")
                    {
                        values_humid.push( element[2]+70 )
                        label.push( new Date(element[0]*1000).toTimeString().split(' ')[0] )
                    }
                    else if(element[1] == "SENSOR_TEMP")
                    {
                        values_temp.push( element[2] )
                    }
                });

                var chart = new Chart(canvas, {
                    type: 'line',
                    data: {
                        labels: label,
                        datasets: [{
                            label: "Temp °C",
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: values_temp,
                        },
                        {
                            label: "Humid %-rH",
                            backgroundColor: 'rgb(99,133,255)',
                            borderColor: 'rgb(99,151,255)',
                            data: values_humid
                        }]
                    },
                    config: {
                        responsive: true,
                        maintainAspectRatio: false
                    }
                });
            }
        }
}

</script>
<head>
    <meta charset="UTF-8">
    <title>Charts</title>
</head>
<body>
<div>
    <center><h2>Data over the last {{ minutes }} minutes</h2></center>
    <canvas id="chart"></canvas>
</div>
</body>
</html>