{% extends 'base.html' %}
{% block title %}Edit Program Steps - PiCure {% endblock %}
{% block head %}
    <script>
        var current_prog_id = window.location.href.split("/")[4]
        var current_step_id = window.location.href.split("/")[6]

        function delayed_reload(){
            setTimeout(function () {
                window.location.reload()
            }, 100)
        }

        function delete_target(sensor) {
            req = new XMLHttpRequest()
            req.open("DELETE", "/api/program/"+current_prog_id+"/step/"+current_step_id+"/target/"+sensor, true)
            req.onload = function () {
                if(req.readyState == req.DONE){
                    if(req.status == "204"){
                        delayed_reload()
                        console.log("DELETED sensor target for sensor "+sensor)
                    }
                    if(req.status == "500"){
                        var box = document.getElementById("alertbox")
                        box.innerText = 'Warning: Can`t delete sensor target. Something is wrong.'
                        new bootstrap.Collapse(box, {
                            show: true
                        })
                    }
                }
            }
            req.send()
        }

        function add_tbl_elements_from_json(data) {
            var tbl = document.getElementById('targets-table').getElementsByTagName('tbody')[0];

            var sensor_data = Object.entries(data)

            for(i=0; i<sensor_data.length; i++){
                var row = tbl.insertRow(i)
                var sensor_cell = row.insertCell(0)
                var value_cell = row.insertCell(1)
                var actions_cell = row.insertCell(2)

                sensor_cell.innerText = sensor_data[i][0]
                value_cell.innerText = sensor_data[i][1]
                actions_cell.innerHTML = '<button type="button" class="btn btn-danger" onclick=\'delete_target("'+sensor_data[i][0]+'")\'>X</button>'
            }
        }


        req = new XMLHttpRequest()
        req.open("GET", "/api/program/"+current_prog_id+"/step/"+current_step_id+"/target")
        req.onreadystatechange = function () {
                if(req.readyState == req.DONE){
                    if(req.status == "200"){
                        var events = JSON.parse(req.responseText)
                        add_tbl_elements_from_json(events)
                    }
                }
            }
        req.send()
    </script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 id="heading-title"></h2>
        </div>
        <div class="col-6">
            <button class="btn btn-primary float-end" data-bs-toggle="collapse" data-bs-target="#new_sensor_target_form" aria-expanded="false" aria-controls="new_sensor_target_form">Add new sensor target...</button>
        </div>
    </div>
    <div class="row mt-4">
        <div id="new_sensor_target_form" class="collapse">
            <form id="new-target" method="post">
                <div class="row">
                    <div class="col-4"><label class="form-label" for="program-duration">Sensor name and target value</label></div>
                    <div class="col-4"><input name="sensor" type="text" class="form-control"></div>
                    <div class="col-4"><input name="value" type="text" class="form-control"></div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4 form-text">Enter the sensor name</div>
                    <div class="col-4 form-text">Enter the target value</div>
                </div>
                <div class="row mt-1">
                    <div class="col-8"></div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary float-end" onclick="delayed_reload()">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table id="targets-table" class="table table-striped mt-4">
        <thead>
            <tr>
                <td>Sensor name</td>
                <td>Sensor target</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script>
    document.getElementById('heading-title').innerText = "Edit Step - " + current_step_id
    document.getElementById('new-target').setAttribute('action', "/api/program/"+current_prog_id+"/step/"+current_step_id+"/target")
</script>
{% endblock %}